@import variables

*
  margin: 0
  padding: 0
  list-style: none
  text-decoration: none

body
  background-color: $background-color

header
  background-color: $header-color
  font-family: $main-font-family
  .logo
    margin: 15px 0
    @media (min-width: 768px) and (max-width: 991px)
      font-size: 7rem
  nav
    padding: 0px
    ul li
      display: inline-block
      margin: 20px 0 10px 0
      font-size: 1.5em
      width: 32%
      text-align: center
      @media (min-width: 768px) and (max-width: 991px)
        text-align: center
        font-size: 5rem
      a
        padding: 10px 10px
        border-radius: 5%
        color: $menu-btn-color-primary
        &:hover
          background-color: $menu-btn-color-primary
          color: $menu-btn-color-secondary
          text-decoration: none
